@charset "UTF-8";
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html, body{
	width: 100vw;
	height:auto;
	/*font-family: "";*/
}
a{
	text-decoration: none;
}
ul, ol, li{
	list-style: none;
}

/* ============== 
      header
   ============== */
header{
	background-color:#787982;
	height:72px;
	display:flex;
	justify-content: space-between;
	align-items:center;

	color:#ffffff;
	font-size:34px;
}

.h_logo{
	width:146px;
	margin-left:30px;
	position:relative;
}
.h_logo img{
	width:100%;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}

.h_iconList{
	display:flex;
	height:100%;
}

.h_icon{
	width:71px;
	background-color:#ffffff;
	border:solid 1px #F9DEB4;
}

.h_icon a{
	width:100%;
	height:100%;
	display:flex;
	justify-content: center;
	align-items: center;

}

.h_icon img{
	width:60%;
}



/* ============== 
      footer
   ============== */
footer{
	background-color:#2D2D2D;
}

footer h2{
	padding:48px 0px 96px;
	color:#ffffff;
}

.Footer_List{
	width:80%; /* サイド余白*/
	margin:0 auto;
	padding-bottom:65px;
}

.Ticket_box{
	display:flex;
	justify-content: space-between;
	align-items: stretch; /*上下余白なし*/
}

.t_div{
	color:#FFBA43;
	font-size:24px;
}

/*サイト情報*/
.Ticket_site p{
	padding-top:34px;
}

/* リンクリスト*/
.Ticket_link{
	color:#ffffff;
	padding-top:34px;
}
.Ticket_link p{
	padding-top:0px;
	padding-bottom:8px;
	font-size:16px;
}
.Ticket_link p,.Ticket_link a{
	color:#ffffff;
}

/* 右ライン */
.border_solid{
	border-right:solid 1px rgba(255,255,255,0.6);
}

.border_dash{
	border-right:dashed 1px rgba(255,255,255,0.6);
}


/* 問合せ */
.Ticket_contact{
	color:#ffffff;
	text-align:center;
}

.contact_btn{
	background:linear-gradient(to top,#C97D06,#FBBB5B);
	height:48px;
	margin:54px 0px;
	border-radius: 5px;
	font-size:24px;
}

.contact_btn a{
	display:flex;
	justify-content:center;
	align-items:center;

	width:100%;
	height:100%;
	color:#ffffff;
}

footer form{
	padding-top:24px;
}
textarea{
	resize:none;
	width:240px;
	height:170px;

	font-size:10px;
	background-color:#FBECD6;
	padding:9px 12px;
}

textarea::placeholder{
	color:#BCAF9A;	
}

.sns{
	color:#FFBA43;
	font-size:16px;
	padding-top:52px;
}

.sns_icon{
	display:flex;
	justify-content:center;
	padding-top:20px;
}

.sns_icon img{
	width:32px;
	margin:0px 10px;
}

.copyright{
	height:72px;
	background-color:#ffffff;
	color:#979797;
	font-size:16px;

	display:flex;
	justify-content:center;
	align-items:center;
}

/* =================
     レスポンシブ対応
   ================= */

/* タブレット*/
@media screen and (max-width: 1023px){
	.tablet_none{
		display:none;
	}

	/*heder*/
	header{
		height:64px;
		font-size:24px;
	}

	.h_logo{
		width:80px;
		margin-left:15px;
		position:relative;
	}
	.h_logo img{
		width:100%;
		position:absolute;
		top:50%;
		left:50%;
		transform:translate(-50%,-50%);
	}


	/*Footer*/
	footer h2{
		padding:32px 0px 40px;
		color:#ffffff;
	}
	.Ticket_box{
		display:block;
	}
	.Ticket_link{
		display:flex;
		flex-wrap:wrap;
	}
	.Ticket_link p{
		padding-bottom:8px;
		padding-right:16px;
		font-size:16px;
	}

	.border_solid{
		border-right:none;
	}

	.border_dash{
		border-right:none;
		border-bottom:dashed 1px rgba(255,255,255,0.6);

	}

	/*サイト情報*/
	.Ticket_site p{
		padding-top:0px;
	}
	.Ticket_link{
		padding:16px 8px;
	}

	.Ticket_contact{
		padding-top:32px;
	}

	.contact_btn{
		width:50%;
		margin:24px auto;
	}
	textarea{
		resize:none;
		width:50%;
		height:170px;
	}
}


/* スマホ*/
@media screen and (max-width: 749px){
}
