@charset "UTF-8";

section{
	width:100%;
}

h2{
	padding-top:32px;
	padding-bottom:24px;
}

*:focus{
	outline: none!important;
}

#SignUP{
	max-width:960px;
	width:80%;
	min-height:960px;
	margin:0 auto;
}

/* ==========================
     パンくずリスト
   ========================== */
.path{
	margin:32px 0px 50px;
	font-size:16px;
}
.path p{ /* 横並び */
	display:inline-block;
}
.path p,.path a{ /* 文字色 */
	color:#ECAB48;
}

/* ==========================
     ステータスリスト
   ========================== */
.status{
	display:flex;
	align-items: flex-end;
	font-size:14px;
}
.step{
	display:flex;
	align-items: center;
	font-size:14px;
}

.circle{
/*	display: inline-block;*/
  width: 30px;
  height: 30px;
  border:solid 2px #5B5B5B;
  border-radius: 50%;
  background: #ffffff;
  text-align:center;
  line-height: 26px;
  color:#5B5B5B;
  font-weight: bold;
  margin-right:4px;
}

/* Active */
.active{
  color:#ECAB48;
}
.active > .circle{
  color:#ECAB48;
  border:solid 2px #ECAB48;
}

.st_border{
	margin:0px 8px;
	width:32px;
	height:15px;
	border-top:solid 1px #5B5B5B;
}

/* ==========================
     会員登録
   ========================== */
#title h2{
	text-align:center;
	color:#5B5B5B;
	font-size:40px;
}
.border{ /* 下線　*/
	width:100%;
	margin:0 auto;
	margin-bottom:16px;
	border:solid 1px #FFD698;
	background-color:#FFD698;
}

#title > p{
	padding:16px 0px;
	font-size:16px;
}
/* ====== 入力欄 ====== */
#SignUP form{
	width:60%;
	margin:0 auto;
}


/* ==========================
     レスポンシブ対応(タブレット)
   ========================== */
@media screen and (max-width: 1023px){
}

/* =======================
     レスポンシブ対応(スマホ)
   ======================= */
@media screen and (max-width: 749px){
	.st_border{
		display:none;
	}
	#SignUP{
		height:720px;
	}

	.status{
		align-items:stretch;
		flex-direction: column;
		font-size:12px;
	}
	.step{
		margin:2px 0px;
	}

	.circle{
	  width: 25px;
	  height: 25px;
	  line-height: 21px;
	}
	.title h2{
		font-size:24px;
		padding-top:24px;
		padding-bottom:16px;
	}
	.text{ /* 横並び */
		display:block;
		text-align: left;
	}
	#SignUP form{
		width:80%;
		margin:0 auto;
	}
}