@charset "UTF-8";

section{
	width:100%;
}

h2{
	padding-top:32px;
	padding-bottom:24px;
}

*:focus{
	outline: none!important;
}

/* ==========================
     Teacherリスト
   ========================== */
#TeacherList{
	max-width: 960px;
	width:80%;
	margin:0 auto;
}

/* =================
     オレンジボーダー
   ================= */

.border{
	width:100%;
	border:solid 2px #ECAB48;
	border-radius:5px;
	margin-bottom:64px;
}


/* ==========================
     講師について
   ========================== */
.teacher_box{
	padding-top:24px;

	display:flex;
	justify-content: space-between;
}

/* 顔写真 */
.t_img{
	width:40%;
	text-align: center;
}

.t_img img{
	width:180px;
	height:180px;
	object-fit: cover;
	border-radius:50%;
	border:solid 3px #ECAB48;
}

.t_img p:nth-of-type(1){
	margin:32px 0px 24px;
	font-size:16px;
	color:#5B5B5B;
}

.t_img p:nth-of-type(2){
	padding:4px 16px;
	margin:0 auto;

	color:#ffffff;
	background-color:#ECAB48;
	width:180px;
	border-radius:10px;
}

/* 自己紹介文 */
.t_text{
	width:55%;
}

.t_text p{
	color:#5B5B5B;
	font-size:16px;
}

.t_ex{
	line-height: 16px;
	margin-top:32px;
}
.readmore_btn{
	text-align: right;
	display:none;
}
.readmore_btn a{
	color:#ECAB48;
}

.t_text img{
	width:100%;
	height:240px;
	object-fit: cover;
}

/* ==========================
     並び順(ソート) 
   ========================== */
.Sort{
	display:flex;
	justify-content: flex-end;
	align-items: center;
	color:#ECAB48;
}

.Sort p{
	padding-right:16px;
	font-size:16px;
	font-weight: bold;
}
select{
	border:solid 1px #ECAB48;
	background-color:#ffffff;
	color:#ECAB48;
	font-size:16px;
	font-weight: bold;
	padding:1px 12px 1px 1px;
}



/* ==========================
     検索結果 
   ========================== */
/*.Search_result{
	padding:40px 0px;
}*/

/*　画像　*/
.result_box{
	display:flex;
	justify-content:center;
	align-items: center;

	border:solid 1px #ECAB48;
	border-radius:5px;
	padding:24px;
	margin:32px 0px;

}

.result_img{
	margin-right:16px;
}
.result_img img{
	width:350px;
	height: 300px;
	object-fit: cover;
}

/*　テキスト　*/
.result_text{

}
.result_title{
	color:#ECAB48;
	font-size:32px;
	border:solid 1px #ECAB48;
	border-radius:30px;

	position:relative;
	padding-left:50px;
}

.result_title::before{
	content:"";
	font-size:16px;
	width:47px;
	height:47px;
	border:solid 1px #ECAB48;
	border-radius:50%;
	background-color:#ECAB48;

	display:flex;
	justify-content: center;
	align-items:center;

	position:absolute;
	top:-0.5px;
	left:-1px;
/*	transform:translate(-50%,-50%);*/
}

.result_content{
	font-size:16px;
}

.result_detail{
	display:flex;
	justify-content: space-between;
	align-items: center;
}

.charge{
	font-size:32px;
	color:#ECAB48;
}
.day{
	display: flex;
	align-items: center;
	font-size:16px;
	color:#5B5B5B;
}
.day img{
	padding-left:16px;
}

.r_review{
	display:flex;
	align-items: center;
	font-size:24px;
}

.review,.place{
	width:50%;
	display:flex;
	align-items: center;
}
.place_icon,.star{
	color:#ECAB48;
}

/* 名前　*/
.r_name{
	height:70px;
	color:#ECAB48;
	font-size:24px;
	border:solid 1px #ECAB48;
	border-radius:50px;
}

.r_name:before{
	content:"";
	background-image: url(../img/teacher1.jpg);
	width:64px;
	height:64px;
	display: inline-block;
	background-size: cover;
	border:solid 3px #ECAB48;
	border-radius:50%;
	vertical-align: middle;
}

/* ==========================
     ページネーション
   ========================== */

.pageNav{
	width:100%;
	display:flex;
	justify-content:space-between;
}
.page-numbers{
	width:48px;
	height:48px;
	margin:2px;
	line-height:48px;
	text-align:center;

	font-size:24px;
	font-weight:bold;
	text-decoration:none;
}

.page-numbers{
	color:#ECAB48;
}

.current{
	border:solid 2px #707070;
	border-radius:5px;
	color:#707070;
}

.prev,.next{
	width:100px;
	font-size:16px;	
}


/* ==========================
     他の授業
   ========================== */
.Other_Class{
	margin:0 auto;
	margin-bottom:160px;
	padding-top:80px;
}

.Other_Class > p{
	font-size:24px;
	color:#5B5B5B;
	padding-bottom:56px;
}


/* ================
      slider
 ================ */
.slider img{
    height: auto;
    margin:0 auto;
}

.o_slider{
	max-width: 100%;
    color:#F1C076;
}
.slick-slide{
    margin:0px 5px;
}

.slick-prev:before, .slick-next:before {
    color: #F1C076;
    font-size:40px;
    opacity:1;

    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

/* ドット*/
.slick-dots li button:before{
    color: #F1C076;
    opacity:1;
    content:'◯';
    font-size:13px;
}

.slick-dots li.slick-active button:before {
    color: #F1C076;
    content:'●';
    font-size:13px;
    opacity:1;
}

.slick-dots li button:before{
	line-height: 60px;
}


.o_slider img{
    width:200px;
    height:150px;
    object-fit: cover;
}

.o_slider .slick-prev{
	left:0px;
}
.o_slider .slick-next{
	right:0px;
}

.o_slider p{
	width:200px;
	color:#5B5B5B;
	margin:0 auto;
}

.o_slider p:nth-of-type(1){
	font-size:16px;
	padding:8px 0px 16px;
}

.o_slider p:nth-of-type(2){
	font-size:12px;
}

/* ==========================
     レスポンシブ対応(タブレット)
   ========================== */
@media screen and (max-width: 1023px){

}

/* =======================
     レスポンシブ対応(スマホ)
   ======================= */
@media screen and (max-width: 749px){

}