@charset "UTF-8";

section{
	width:100vw;
}

h2{
	margin-bottom:25px;
}
/* ================
       Top画像
 ================ */
#Top{
	background-image:url(../img/acoustic_guitar.jpg);
	background-size: cover;
	background-position: center;
	height:calc(100vw * 0.33);
	padding-bottom:43px;

	display:flex;
	justify-content: center;
	align-items: flex-end;
}

#Top p{
	text-align: center;
	color:#ffffff;
}

/* ================
       検索Box
 ================ */
#Search{
	height:219px;
	display:flex;
	justify-content: center;
	align-items: center;
	color:#ECAB48;
}

input::placeholder,#Search a{
	color: #ECAB48;
	font-weight:bold;
}

.Search_Box{
	width:1378px;
	height:155px;
	border:solid 4px #F1C076;
}

.frame{
	border:solid 0.5px #ECAB48;

}

/* 上側 */
.Box_Up{
	height:70%;
	display:flex;
}

.freeWord{
	width:90%;
	height:100%;
}
.searchLogo{
	width:10%;
	height:100%;
	background-color:#ECAB48;
}

form{
	display:flex;
	align-items:center;
}
input{
	border:none;
	outline: none;
	font-size:30px;
	padding-left:15px;
}

.searchLogo a{
	width:100%;
	height:100%;
	display:flex;
	justify-content: center;
	align-items: center;

}

/* 下側 */
.Box_Down{
	height:30%;
	display:flex;
	align-items: center;
	padding:0px 15px;
}

.Box_Down p{
	width:20%;
	font-size: 20px;
}

.keyWord{
	width:80%;
	display:flex;
	justify-content: space-around;
	align-items: center;
}

.keyWord a{
	border:solid 0.5px #ECAB48;
	border-radius:100px;
	padding:5px 10px;
}


/* ================
      人数カウント
 ================ */
#Count{
	height:auto;
	background-color:#ECAB48;
	padding:0% 15%;
	display:flex;
	justify-content: space-around;
	align-items:center;
	font-size:25px;
	color:#ffffff;
	font-weight: bold;
}
#Count p{
	padding:10px 0px;
}

#Count a{
	border:solid 0px #ffffff;
	background-color:#ffffff;
	padding:15px 11px;
	color:#ECAB48;
}

/* ================
      コンテンツ一覧
 ================ */
.Content_List{
	width:100vw;
	padding:0px 10%;
}
.Content{
	width:100%;
	margin-top:70px;
}

.Content_Box{
	width:80%;
	margin:0 auto;
	color:#F1C076;
	font-size:15px;
}

/* ================
      閲覧履歴
 ================ */

#History{
	min-height:auto;
}
.h_people{
	display:flex;
	justify-content: space-between;
}

#History a{
	color:#F1C076;
	font-size:15px;
}

/* ================
      slider
 ================ */
.slider{
	max-width: 100%;
    margin: 0 auto;
    color:#F1C076;
}
.slick-slide {
    margin: 0 5px;
}
.slick-slide img {
    width: 100%;
    height: auto;
}

/* 矢印 */
.slick-prev{
	left:-75px;
}
.slick-next{
	right:-75px;
}

.slick-prev:before, .slick-next:before {
    color: #F1C076;
    font-size:40px;
    opacity:1;
}

#Review .slick-prev:before, #Review .slick-next:before{
	color:#ffffff;
    font-size:75px;

}

/* ドット*/
.slick-dots li button:before{
    color: #F1C076;
    opacity:1;
    content:'◯';
    font-size:13px;
}

.slick-dots li.slick-active button:before {
    color: #F1C076;
    content:'●';
    font-size:13px;
    opacity:1;
}

.slick-dots li button:before{
	line-height: 60px;
}




/* ================
      TOPICS
 ================ */
#Topics{
	height:auto;
}

/* ================
      講座を探す
 ================ */
#Course{
	min-height:auto;
}

.c_slider{
	padding:50px 80px;
	background-color:#F1C076;
}

.c_list{
	display:flex;
	justify-content: space-between;
	font-size: 16px;
	margin-top:80px;
}

.c_title{
	font-size:20px;
	font-weight: bold;
	margin-bottom:20px;
}

/* ================
      人気の講座
 ================ */
#Popular{
	min-height:475px;
}



/* ================
      人気の講座
 ================ */

#Teacher{
	min-height:475px;
	text-align:center;
}
.t_teacher{
	width:350px;
	height:614px;
	border:3px solid #ECAD4E;
	position:relative;
}

.t_first{
	background-image:url("../img/teacher2.jpg");
	background-size:cover;
	background-position:center -50px;
}

.t_second{
	background-image:url("../img/teacher2.jpg");
	background-size:cover;
	background-position:center -50px;
}

.t_third{
	background-image:url("../img/teacher2.jpg");
	background-size:cover;
	background-position:center -50px;
}

.t_name{
	background-color:#ECAD4E;
	width:80%;
	height:52px;
	color:#ffffff;
	position:absolute;
	top:222px;
	padding-left:10px;
	font-size:30px;
	display:flex;
	justify-content: left;
	align-items: center;
}

.t_text{
	position:absolute;
	top:60%;
	height:40%;
	background-color:#ffffff;
	margin:0 auto;
}

.t_text::before{
	content:"";
	position:absolute;
	top:-60px;
	right:0px;
	width:0;
	height:0;
	border-bottom:30px solid #ffffff;
	border-right:175px solid #ffffff;
	border-left:175px solid transparent;
	border-top:30px solid transparent;
}

.t_intro{
	padding:4px;
	font-size:25px;
	color:#F1C076;
}

.t_desc{
	font-size:20px;
	color:#F1C076;
	margin:0px 24px;
	text-align:left;
}

.t_link{
	position:absolute;
	top:80%;
	width:100%;
	height:20%;
	background-color:#ECAD4E;
}

.t_link a{
	width:100%;
	height:100%;
	color:#ffffff;

	display:flex;
	justify-content: center;
	align-items: center;
}

.t_list{
	display:flex;
	justify-content: space-between;

}

/* ================
      レビュー
 ================ */
#Review{
	min-height:1200px;
	text-align:center;
	color:#FFD698;
	background-image:url(../img/Review.jpg);
}
.border{
	margin:16px auto;
	border:solid 1px #FFD698;
	filter:drop-shadow(1px 2px 1px #707070);
	background-color:#FFD698;
}
.Long{
	width:20%;
}
.Middle{
	width:10%;
}
.Short{
	width:5%;
}
.r_box{
	width:1090px;
	height:516px;
	border-radius:5px;
	border:solid 5px #F1C076;

	color:white;
	margin:0 auto;
}
.r_box1{
/*	width:100%;*/
	background-color:#F1C076;
	height:60%;
	text-align:left;
	padding-left:80px;
}

.r_title{
	padding-top:60px;
	font-size:50px;
}
.r_text{
	font-size:28px;
	padding:40px 0px;
}

.r_box2{
/*	width:100%;*/
	background-color:#ffffff;
	height:40%;
	color:#F1C076;

	display:flex;
	align-items: center;
}
.r_kouza{
	width:60%;
	flex-direction:column;
	font-size:30px;
}
.r_link{
	width:40%;
	font-size:30px;
}

.r_link a{
	width:80%;
	height:60%;
	background-color:#F1C076;
	padding:35px 115px;
	border-radius:15px;
	color:#ffffff;
}



/* ================
      地域・エリア
 ================ */

#Area{
/*	min-height:1205px;*/
	background:linear-gradient(to top,#C97D06,#FBBB5B);
	color:#ffffff;
	padding-top:72px;
	padding-bottom:144px;

}

.Area_list{
	width:50%;
	margin:0 auto;
}

.Area_box{
	padding:33px 0px;
}
.Area_box a{
	color:#ffffff;
}
