@charset "UTF-8";

section{
	width:100%;
}

h2{
	padding-top:32px;
	padding-bottom:24px;
}

*:focus{
	outline: none!important;
}


/* ================
       Top画像
 ================ */
#Top{
	background-image:url(../img/acoustic_guitar.jpg);
	background-size: cover;
	background-position: center;
	height:calc(100vw * 0.33);
	position:relative;
}

#Top div{
	color:#ffffff;
	position:absolute;
	bottom:0%;
	left:50%;
	transform:translate(-50%,-50%);
	text-align:center;
}

#Top img{
	width:146px;
}

/* ================
       検索Box
 ================ */
#Search{
	height:auto;
	margin:16px 0px;
	display:flex;
	justify-content: center;
	align-items: center;
	color:#ECAB48;
}

.Search_Box{
	width:80%;
	max-width:960px;
	border:solid 8px #F1C076;
	height:90%;
}
.Box_Up,.Box_Down{
	border:solid 1px #ECAB48;
}

/* ===上段=== */
.Box_Up{
	height:60%;
	display:flex;
	justify-content:space-between;
}

.s_search{
	width:100%;
	height:100%;
	position:relative;
}

/* フリーワード*/
.s_freeWord{
	/* 位置設定 */
	position:absolute;
	top:50%;
	transform:translateY(-50%);
	padding-left:15px;
	/* フォント */
	border:none;
	outline: none;

	width:80%;
}
#Search input::placeholder,#Search a{
	color: #ECAB48;
	font-weight:bold;
}

/* 虫眼鏡 */
.s_searchLogo{
	padding:10px;
	float:right;
	height:100%;
	background-size:cover;
	background-color:#ECAB48;
}

/* ===下段=== */
.Box_Down{
	height:40%;
	display:flex;
/*	align-items: center;*/
	padding:8px 0px;
}
/* 人気のキーワード */
.Box_Down p{
	white-space: nowrap;

	padding-left:16px;
	padding-right:8px;
}
/* キーワードリスト */
.keyWord{
	display:flex;
	flex-wrap:wrap;
	justify-content: space-between;
	align-items: center;
}

.keyWord a{
	font-size:16px;
	border:solid 0.5px #ECAB48;
	border-radius:100px;
	padding:5px 10px;
	margin:0px 8px 8px 0px;
}
.frame{
	border:solid 0.5px #ECAB48;
}


/* ================
      登録件数
 ================ */
#Count{
	height:auto;
	padding:24px 0px;

	background-color:#ECAB48;
	display:flex;
	justify-content: center;
	align-items:center;
	color:#ffffff;
	font-weight: bold;

	text-align: center;
}
.countBox{
	width: 20%;
}
.countBox p,.countBox a{
	font-size:24px;
	padding:5px 0px;
}

.countBox a{
	font-size:24px;
	border:solid 0px #ffffff;
	background-color:#ffffff;
	padding:15px 11px;
	color:#ECAB48;
}

/* ================
      閲覧履歴
 ================ */
#History{
	width:100%;
	height:auto;
	padding:32px 0px;
}

.h_box{
	max-width:960px;
	width:80%;
	margin:0 auto;
	color:#F1C076;
}

/* 閲覧リスト*/
.h_list{
	display:flex;
	justify-content: space-between;
}
.h_list a{
	width:18%;
}
.h_list img{
	width:100%;
}
/*さらに表示*/
.h_more{
	text-align:right;
	padding-top:16px;
}
.h_more a{
	color:#F1C076;
}


/* ================
      TOPICS
 ================ */
#Topics{
	color:#F1C076;
	padding:32px 0px;
}

.tp_box{
	max-width:960px;
	width:80%;
	margin:0px auto;
}

.t_slider img{
    width:100%;
    height:220px;
    object-fit:cover;
}

#Topics .slick-active img{
	padding-left:16px;
}
#Topics .slick-current.slick-active img{
	padding-right:16px;
	padding-left:0px;
}

/* ================
      講座を探す
 ================ */
#Course{
	color:#F1C076;
	height:auto;
	padding:32px 0px;
}
.c_box{
	max-width:960px;
	width:80%;
	margin:0 auto;
}

/*スライド*/
.c_slider{
	padding:40px 0px;
	background-color:#F1C076;	
}
.c_slider img{
	width:80%;
	height:240px;
	object-fit:cover;
	border-radius:15px;
}

/*カテゴリ別*/
.c_list{
	width:80%;
	margin:0 auto;
	display:flex;
	justify-content: space-between;
/*	font-size: 16px;*/
}

.c_category{
	margin:40px 0px 20px;
}

.c_title{
/*	font-size:20px;*/
	font-weight: bold;
	margin-bottom:20px;
}

/* ================
      人気の講座
 ================ */
#Popular{
	color:#F1C076;
	height:auto;
	padding:32px 0px;
}

.p_box{
	max-width:960px;
	width:80%;
	margin:0 auto;
}
/*スライド*/
.p_slider{
	padding:40px 0px;
	background-color:#F1C076;	
	border-radius:15px;
}
.p_slider img{
	width:80%;
	height:240px;
	object-fit:cover;
	border-radius:15px;
}

/* ================
      人気の講座
 ================ */
#Teacher{
	min-height:475px;
	text-align:center;
	padding:32px 0px 64px;
}
.tc_box{
	max-width:960px;
	width:80%;
	margin:0 auto;
	color:#F1C076;
}
/* 下線　*/
.t_border{
	margin:0 auto;
	margin-bottom:16px;
	border:solid 1px #FFD698;
	background-color:#FFD698;
}
.t_list{
	display:flex;
	justify-content: space-between;
}


/*　各先生紹介 */
.t_teacher{
	width:233px;
	height:400px;
	border:3px solid #ECAD4E;
	position:relative;
	background-size:cover;
	background-position:center -50px;
}

/* 先生No.1 写真*/
.t_first{
	background-image:url("../img/teacher1.jpg");
}
/* 先生No.2 */
.t_second{
	background-image:url("../img/teacher2.jpg");
}
/* 先生No.3 */
.t_third{
	background-image:url("../img/teacher3.jpg");
}

/*先生　名前*/
.t_name{
	background-color:#ECAD4E;
	width:80%;
	height:35px;
	color:#ffffff;
	position:absolute;
	top:35%;
	padding-left:10px;
	display:flex;
	justify-content: left;
	align-items: center;
}

/*先生　テキスト部分*/
.t_text{
	position:absolute;
	bottom:0;
	height:40%;
	background-color:#ffffff;
	margin:0 auto;
}
/*ツノの部分*/
.t_text::before{
	content:"";
	position:absolute;
	bottom:100%;
	right:0px;
	border-bottom:solid 25px #ffffff;
	border-right:solid 114px #ffffff;
	border-left:solid 113px transparent;
	border-top:solid 25px transparent;
}

.t_intro{
	position:absolute;
	top:-3px;
	left:50%;
	transform:translate(-50%,-50%);
	color:#F1C076;
}

.t_desc{
	margin:16px 24px;
	text-align:left;
}

.t_desc p{
	color:#F1C076;
	font-size:14px;
}

.t_link{
	position:absolute;
	bottom:0;
	width:100%;
	height:32px;
	background-color:#ECAD4E;

	padding-top:3px;
	display: flex;
	justify-content: center;
	align-items: center;

}

.t_link a{
	color:#ffffff;
	text-align: center;
}

/*矢印　棒*/
.t_link::before{
	content:'';
	width: 40px;
  	height: 0px;
  	border-top: solid 1px #ffffff;

  	/*中央*/
	position:absolute;
	top:50%;
	right:15px;
}
/*矢印　矢*/
.t_link::after{
	content:'';
	width: 8px;
  	height: 8px;
  	border: 0px;
	border-top: solid 1px #ffffff;
	border-right: solid 1px #ffffff;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);

	position:absolute;
	top:38%;
	right:15px;
}


/* ================
      レビュー
 ================ */
#Review{
	min-height:720px;
	text-align:center;
	color:#FFD698;
	background-image:url(../img/Review.jpg);
	position:relative;
}

#Review h2{
	text-shadow:1px 2px 1px #707070;
}
#Review .slick-dots{
	bottom:30px;
}

.rv_box{
	width:80%;
	margin:24px auto 32px;
	color:#F1C076;
/*	font-size:15px;*/
}
/* 下線　*/
.r_border{
	margin:0 auto;
	margin-bottom:16px;
	border:solid 1px #FFD698;
	background-color:#FFD698;
	filter:drop-shadow(1px 2px 1px #707070);
}

.Long{
	max-width:300px;
	width:80%;
}
.Middle{
	max-width:150px;
	width:40%;
}
.Short{
	max-width:75px;
	width:25%;
}

.r_box{
	width:80%;
	max-width:650px;
	height:330px;
	border-radius:15px;
	border:solid 5px #F1C076;

	color:white;
	margin:0 auto;
}
.r_box1{
	background-color:#F1C076;
	height:60%;
	text-align:left;
	padding:0 5%;
}

.r_title{
	padding-top:5%;
}
.r_text{
	padding:40px 0px;
}

.r_box2{
	background-color:#ffffff;
	height:40%;
	color:#F1C076;
	padding:0 5%;
	border-radius:0px 0px 15px 15px;

	display:flex;
	align-items: center;
}
.r_kouza{
	width:65%;
	flex-direction:column;
/*	font-size:16px;*/
	text-align:left;
}
.r_link{
	width:35%;
/*	font-size:16px;*/
	text-align:right;
}

.r_link a{
	width:80%;
	height:60%;
	background-color:#F1C076;
	padding:16px 48px;
	border-radius:15px;
	color:#ffffff;
}


#Review .slick-prev:before, #Review .slick-next:before{
	color:#ffffff;
}


/* ================
      地域・エリア
 ================ */

#Area{
	background:linear-gradient(to top,#C97D06,#FBBB5B);
	color:#ffffff;
	padding-top:64px;
	padding-bottom:72px;

}

.Area_list{
	width:50%;
	margin:0 auto;
}

.Area_box{
	padding:24px 0px;
}
.Area_box a{
	color:#ffffff;
}


/* ==========================
     レスポンシブ対応(タブレット)
   ========================== */
@media screen and (max-width: 1023px){

	/* ================
	       Top画像
	 ================ */
	#Top{
		height:calc(100vw * 0.5);
	}
	#Top img{
		width:120px;
	}

	/* ================
	       検索Box
	 ================ */
	#Search{
		height:auto;
		min-height:160px;
	}
	/* ===下段=== */
	.Box_Up{
		height:56px;
	}

	/* ===下段=== */
	.Box_Down{
		height:auto;
		flex-direction: column;
		padding:16px;
	}
	/* 人気のキーワード */
	.Box_Down p{
		padding:0px;
	}
	/* キーワードリスト */
	.keyWord{
		flex-flow:wrap;
		justify-content: flex-start;
	}

	.keyWord a{
		font-size:12px;
		margin:8px 8px 0px 0px;
	}

	/* ================
	      登録人数
	 ================ */
	.countBox p,.countBox a{
		font-size:20px;
	}

	/* ================
	      閲覧履歴
	 ================ */
	.h_box{
		width:70%;
		margin:0 auto;
		color:#F1C076;
	}


	/* ================
	      TOPICS
	 ================ */
	.tp_box{
		width:70%;
	}

	/* ================
	      講座を探す
	 ================ */
	.c_box{
		width:70%;
	}
	/*カテゴリ別*/
	.c_list{
		flex-wrap: wrap;
	}

	/* ================
	      人気の口座
	 ================ */
	.p_box{
		width:70%;
	}

	/* ================
	      人気の講座
	 ================ */

	/*　各先生紹介 */
	.t_teacher{
		width:180px;
		height:350px;
	}

	/*先生　名前*/
	.t_name{
		height:24px;
	}

	/*ツノの部分*/
	.t_text::before{
		border-right:solid 87px #ffffff;
		border-left:solid 87px transparent;
	}

	.t_desc p{
		color:#F1C076;
		font-size:12px;
	}

	.t_link{
		height:24px;
	}

	/*矢印　矢*/
	.t_link::after{
		top:36%;
	}

	/* ================
	      レビュー
	 ================ */
	#Review{
		min-height: 100%;
		padding-bottom:32px;
	}

	.rv_box{
		width:70%;
		margin:0 auto;
		color:#F1C076;
	}

	.r_box{
		width:100%;
		height:240px;
	}

	.r_text{
		padding:24px 0px;
	}
	.r_link a{
		padding:16px 24px;
	}
	/* ================
	      地域・エリア
	 ================ */

	#Area{
		padding-top:32px;
		padding-bottom:32px;
	}

}

/* =======================
     レスポンシブ対応(スマホ)
   ======================= */
@media screen and (max-width: 749px){
	/* ================
	       Top画像
	 ================ */
	#Top{
		height:calc(100vw * 0.6);
	}
	#Top img{
		width:80px;
	}


	/* ================
	       検索Box
	 ================ */

	/* ===下段=== */
	.Box_Up{
		height:48px;
	}
	/* ===下段=== */
	/* 人気のキーワード */
	.keyWord a{
		font-size:12px;
	}

	/* ================
	       登録件数
	 ================ */
	#Count{
		padding:24px 0px;
		flex-direction: column;
	}
	.countBox{
		width: 100%;
		margin:8px 0px;
	}
	.countBox p{
		font-size:18px;
		padding:0px;
	}

	.countBox a{
		font-size:18px;
		padding:8px;
	}
	
	/* ================
	      TOPICS
	 ================ */
	.t_slider img{
	    width:100%;
	    height:200px;
	    object-fit:cover;
	}
	#Topics .slick-current.slick-active img{
		padding-right:0px;
	}


	/* ================
	      人気の講座
	 ================ */
	.t_list{
		flex-direction: column;
		align-items: center;
	}

	/*　各先生紹介 */
	.t_teacher{
		width:240px;
		height:320px;
		margin:16px;
	}

	/*先生　テキスト部分*/
	.t_text{
		height:35%;
	}

	/*ツノの部分*/
	.t_text::before{
		border-right:solid 118px #ffffff;
		border-left:solid 117px transparent;
	}

	.t_desc p{
		font-size:10px;
	}

	/*矢印　矢*/
	.t_link::after{
		top:34%;
	}

	/* ================
	      レビュー
	 ================ */
	.r_box{
		width:100%;
		height:auto;
	}

	.r_box1,.r_box2{
		height:auto;
	}

	.r_box2{
		flex-direction: column;
		padding-bottom:32px;
	}

	.r_kouza{
		width:100%;
		text-align:center;
		padding:16px 0px 8px;
	}
	.r_link{
		width:80%;
		text-align: center;
		padding:8px 0px 16px;
	}

	.r_link a{
		padding:12px 16px;
	}
	/* ================
	      地域・エリア
	 ================ */
	.Area_list{
		width:70%;
	}

}