<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>スキチケ（Skill Ticket） | スキルチケット（技術・知識）を売買する、Webマッチングサービス</title>
	
	<!--JQuery-->
	<script src="/assets/js/jquery-3.4.1.min.js"></script>
	<script src="https://unpkg.com/http-vue-loader"></script>
	<script type="text/javascript" src="/assets/js/common.js"></script>

	<!-- Slick -->
	<link rel="stylesheet" type="text/css" href="/assets/slick/slick-theme.css">
	<link rel="stylesheet" type="text/css" href="/assets/slick/slick.css">
	<script type="text/javascript" src="/assets/slick/slick.min.js"></script>
	<script type="text/javascript" src="/assets/js/top.js"></script>


	<!-- CSS -->
        <link rel="stylesheet" type="text/css" href="/assets/css/common.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/top_style.css">


</head>
<body>
	<header>
		<a href="#" class="h_logo"><img src="/assets/img/logo.png"></a>
		<p>学びを、知識を、共有しよう！</p>
		<div class="h_iconList">
			<div class="h_icon"><a href="#"><img src="/assets/img/bell.png"></a></div>
			<div class="h_icon"><a href="#"><img src="/assets/img/chat.png"></a></div>
			<div class="h_icon"><a href="#"><img src="/assets/img/person.png"></a></div>			
                </div>

	</header>

	<main>
		<section id="Top">
			<div>
				<img src="/assets/img/logo.png">
				<p>セールスポイント</p>				
			</div>
		</section>

		<!--　＝＝＝＝＝＝＝＝＝＝
			　　　　検索BOX
		　　　 ＝＝＝＝＝＝＝＝＝＝ -->
		<section id="Search">
			<div class="Search_Box">
				<!-- 上段 -->
				<div class="Box_Up">
                                  <!-- フリーワード -->
                                  <%= form_tag(search_path, :method => 'get', :class => 's_search', :autocomplete => 'off') do %>
                                    <%= text_field_tag :search, '', {:name => 'freeword', :class => 's_freeWord', :placeholder => 'フリーワード', :required => true}%>
                                    <%= image_submit_tag '/assets/img/searchLogo.png',:name => 'searchLogo', :class => 's_searchLogo' %>
                                  <% end %>
				</div>
				<!-- 下段 -->
				<div class="Box_Down frame">
					<p>人気のキーワード</p>
					<div class="keyWord">
						<a href="#">WordPress</a>
						<a href="#">ロゴデザイン</a>
						<a href="#">ヨガ</a>
						<a href="#">ギター初心者</a>
						<a href="#">作曲</a>
						<a href="#">写真</a>	
						<a href="#">Web</a>	
					</div>
                                </div>
			</div>
			
		</section>

		<!--　＝＝＝＝＝＝＝＝＝＝
			　　　　登録件数
		　　　 ＝＝＝＝＝＝＝＝＝＝ -->
		<section id="Count">
			<div class="countBox">
				<p>登録生徒数<br class="phone_none">
				10,000人</p>
			</div>
			<div class="countBox">
				<p>講座掲載数<br class="phone_none">
				4,000人</p>
			</div>
			<div class="countBox">
				<p>登録先生数<br class="phone_none">
				2,000人</p>
			</div>
			<div class="countBox">
				<a href="#">ロゴとは</a>
			</div>
		</section>

		<!--　＝＝＝＝＝＝＝＝＝＝
		　　　　　　閲覧履歴
		　　　 ＝＝＝＝＝＝＝＝＝＝ -->
		<section id="History">
			<div class="h_box">
				<h2>最近の閲覧履歴</h2>
				<div class="h_list">
					<a href="#"><img src="/assets/img/people.png"></a>
					<a href="#"><img src="/assets/img/people.png"></a>
					<a href="#"><img src="/assets/img/people.png"></a>
					<a href="#"><img src="/assets/img/people.png"></a>
					<a href="#"><img src="/assets/img/people.png"></a>
				</div>
				<div class="h_more" style="">
					<a href="#">さらに表示する</a>
				</div>
			</div>
			
		</section>

		<!--　＝＝＝＝＝＝＝＝＝＝
		　　　　　　TOPICS
		　　　 ＝＝＝＝＝＝＝＝＝＝ -->
		<section id="Topics">
			<div class="tp_box">
				<h2>TOPICS</h2>
				<ul class="slider t_slider">
					<a href=""><li><img src="/assets/img/cooking_bread.jpg"></li></a>
					<a href=""><li><img src="/assets/img/acoustic_guitar.jpg"></li></a>
					<a href=""><li><img src="/assets/img/dancing.jpg"></li></a>
				</ul>
			</div>
		</section>

		<!--　＝＝＝＝＝＝＝＝＝＝
		　　　　　　講座を探す
		　　　 ＝＝＝＝＝＝＝＝＝＝ -->
		<section id="Course">
			<div class="c_box">
				<h2>講座を探す</h2>
				<ul class="slider c_slider">
					<a href=""><li><img src="/assets/img/cooking_bread.jpg"></li></a>
					<a href=""><li><img src="/assets/img/acoustic_guitar.jpg"></li></a>
					<a href=""><li><img src="/assets/img/dancing.jpg"></li></a>
				</ul>
			</div>

			<!-- カテゴリ別 -->
			<div class="c_list">
				<div class="c_category">
					<div class="c_title">
						<a>ビジネススキル</a>
					</div>
					<div class="c_name">
						<a>Excel</a></br>
						<a>Word</a></br>
						<a>PowerPoint</a></br>
						<a>VBA</a></br>
						<a>UiPath</a></br>
					</div>
				</div>
				<div class="c_category">
					<div class="c_title">
						<a>IT・プログラミング</a>
					</div>
					<div class="c_name">
						<a>JavaScript</a></br>
						<a>Java</a></br>
						<a>PHP</a></br>
						<a>C++/C</a></br>
						<a>Vue.js</a></br>
					</div>
				</div>
				<div class="c_category">
					<div class="c_title">
						<a>Web/デザイン</a>
					</div>
					<div class="c_name">
						<a>HTML/CSS</a></br>
						<a>Photoshop</a></br>
						<a>Illustrator</a></br>
						<a>XD</a></br>
						<a>Maya</a></br>
					</div>
				</div>
				<div class="c_category">
					<div class="c_title">
						<a>フィットネス</a>
					</div>
					<div class="c_name">
						<a>ヨガ</a></br>
						<a>ピラティス</a></br>
						<a>ストレッチ</a></br>
						<a>筋力トレーニング</a></br>
						<a>ダイエット</a></br>
					</div>
				</div>
				<div class="c_category">
					<div class="c_title">
						<a>ものづくり/DIY</a>
					</div>
					<div class="c_name">
						<a>木工DIY</a></br>
						<a>伝統工芸</a></br>
						<a>電子機器</a></br>
						<a>金属加工</a></br>
						<a>ものづくり加工講座</a></br>
					</div>
				</div>

			</div>

		</section>

		<!--　＝＝＝＝＝＝＝＝＝＝
		　　　　　　人気の講座
		　　　 ＝＝＝＝＝＝＝＝＝＝ -->
		<section id="Popular">
			<div class="p_box">
				<h2>人気の講座</h2>
				<ul class="slider p_slider">
					<a href=""><li><img src="/assets/img/cooking_bread.jpg"></li></a>
					<a href=""><li><img src="/assets/img/acoustic_guitar.jpg"></li></a>
					<a href=""><li><img src="/assets/img/dancing.jpg"></li></a>
				</ul>

			</div>
		</section>
		
		<!--　＝＝＝＝＝＝＝＝＝＝
		　　　　　　先生紹介
		　　　 ＝＝＝＝＝＝＝＝＝＝ -->
		<section id="Teacher">
			<!-- タイトル -->
			<div class="tc_box">
				<h2>先生紹介</h2>
				<div class="t_border Long"></div>	
				<!-- 先生リスト -->
				<div class="t_list">
					<!-- 先生　No.1 -->
					<div class="t_teacher t_first">
						<div class="t_name">
							<p>JaneBeck</p>
						</div>
						<div class="t_text">
							<div class="t_intro">
								<p>Introduction</p>
							</div>
							<div class="t_desc">
								<p>
									I'm Programming School Teacher for Eighteen Years.</br>
									Java / Python and more...
								</p>
							</div>
							<div class="t_link">
								<a href="#">講師詳細</a>
							</div>
						</div>
					</div>
					<!-- 先生　No.2 -->
					<div class="t_teacher t_second">
						<div class="t_name">
							<p>JaneBeck</p>
						</div>
						<div class="t_text">
							<div class="t_intro">
								<p>Introduction</p>
							</div>
							<div class="t_desc">
								<p>
									I'm Programming School Teacher for Eighteen Years.</br>
									Java / Python and more...
								</p>
							</div>
							<div class="t_link">
								<a href="#">講師詳細</a>
							</div>
						</div>
					</div>
					<!-- 先生　No.3 -->
					<div class="t_teacher t_third">
						<div class="t_name">
							<p>JaneBeck</p>
						</div>
						<div class="t_text">
							<div class="t_intro">
								<p>Introduction</p>
							</div>
							<div class="t_desc">
								<p>
									I'm Programming School Teacher for Eighteen Years.</br>
									Java / Python and more...
								</p>
							</div>
							<div class="t_link">
								<a href="#">講師詳細</a>
							</div>
						</div>
					</div>
				</div>
			</div>

		</section>

		<!--　＝＝＝＝＝＝＝＝＝＝
			　　　　レビュー
		　　　 ＝＝＝＝＝＝＝＝＝＝ -->
		<section id="Review">
			<div class="rv_box">
				<h2>レビュー</h2>
				<div class="r_border Long"></div>
				<div class="r_border Middle"></div>
				<div class="r_border Short"></div>
				<ul class="slider r_slider">
					<!-- レビュー1 -->
					<li>
						<!-- 上段（感想） -->
						<div class="r_box">
							<div class="r_box1">
								<p class="r_title">考え方の効率化ができました！</p>
								<p class="r_text">WEBオンライン講座を受講して、考え方について１から学ぶことができました！
	○○先生の別途ある講座も受講したいと思っています！</p>
							</div>
							<!-- 下段（詳細） -->
							<div class="r_box2">
								<div class="r_kouza">
									<p>オンラインWEB講座　HTML/CSS編</p>
									<p>講師 YK</p>
								</div>
								<div class="r_link">
									<a href="#">講座詳細へ</a>
								</div>
							</div>						
						</div>
					</li>
					<!-- レビュー2 -->
					<li>
						<div class="r_box">
							<div class="r_box1">
								<p class="r_title">考え方の効率化ができました！</p>
								<p class="r_text">WEBオンライン講座を受講して、考え方について１から学ぶことができました！
	○○先生の別途ある講座も受講したいと思っています！</p>
							</div>
							<div class="r_box2">
								<div class="r_kouza">
									<p>オンラインWEB講座　HTML/CSS編</p>
									<p>講師 YK</p>
								</div>
								<div class="r_link">
									<a href="#">講座詳細へ</a>
								</div>
							</div>						
						</div>
					</li>
					<!-- レビュー3 -->
					<li>
						<div class="r_box">
							<div class="r_box1">
								<p class="r_title">考え方の効率化ができました！</p>
								<p class="r_text">WEBオンライン講座を受講して、考え方について１から学ぶことができました！
	○○先生の別途ある講座も受講したいと思っています！</p>
							</div>
							<div class="r_box2">
								<div class="r_kouza">
									<p>オンラインWEB講座　HTML/CSS編</p>
									<p>講師 YK</p>
								</div>
								<div class="r_link">
									<a href="#">講座詳細へ</a>
								</div>
							</div>						
						</div>
					</li>

					<!-- レビュー4 -->
					<li>
						<div class="r_box">
							<div class="r_box1">
								<p class="r_title">考え方の効率化ができました！</p>
								<p class="r_text">WEBオンライン講座を受講して、考え方について１から学ぶことができました！
	○○先生の別途ある講座も受講したいと思っています！</p>
							</div>
							<div class="r_box2">
								<div class="r_kouza">
									<p>オンラインWEB講座　HTML/CSS編</p>
									<p>講師 YK</p>
								</div>
								<div class="r_link">
									<a href="#">講座詳細へ</a>
								</div>
							</div>						
						</div>
					</li>
					<!-- レビュー5 -->
					<li>
						<div class="r_box">
							<div class="r_box1">
								<p class="r_title">考え方の効率化ができました！</p>
								<p class="r_text">WEBオンライン講座を受講して、考え方について１から学ぶことができました！
	○○先生の別途ある講座も受講したいと思っています！</p>
							</div>
							<div class="r_box2">
								<div class="r_kouza">
									<p>オンラインWEB講座　HTML/CSS編</p>
									<p>講師 YK</p>
								</div>
								<div class="r_link">
									<a href="#">講座詳細へ</a>
								</div>
							</div>						
						</div>
					</li>
					<!-- レビュー6 -->
					<li>
						<div class="r_box">
							<div class="r_box1">
								<p class="r_title">考え方の効率化ができました！</p>
								<p class="r_text">WEBオンライン講座を受講して、考え方について１から学ぶことができました！
	○○先生の別途ある講座も受講したいと思っています！</p>
							</div>
							<div class="r_box2">
								<div class="r_kouza">
									<p>オンラインWEB講座　HTML/CSS編</p>
									<p>講師 YK</p>
								</div>
								<div class="r_link">
									<a href="#">講座詳細へ</a>
								</div>
							</div>						
						</div>
					</li>
				</ul>
			</div>
		</section>

		<section id="Area">
			<div class="Area_list">
				<h2>地域・エリア</h2>
				<div class="border"></div>	

				<div class="Area_box">
					<p>北海道・東北</p>
					<p>
						<a href="#">北海道</a> | 
						<a href="#">青森</a> | 
						<a href="#">岩手</a> | 
						<a href="#">宮城</a> | 
						<a href="#">秋田</a> | 
						<a href="#">山形</a> | 
						<a href="#">福島</a>
					</p>
				</div>

				<div class="Area_box">
					<p>関東</p>
					<p>
						<a href="#">東京</a> | 
						<a href="#">神奈川</a> | 
						<a href="#">埼玉</a> | 
						<a href="#">千葉</a> | 
						<a href="#">茨城</a> | 
						<a href="#">群馬</a> | 
						<a href="#">栃木</a>
					</p>
				</div>

				<div class="Area_box">
					<p>中部</p>
					<p>
						<a href="#">新潟</a> | 
						<a href="#">富山</a> | 
						<a href="#">石川</a> | 
						<a href="#">福井</a> | 
						<a href="#">山梨</a> | 
						<a href="#">長野</a> | 
						<a href="#">岐阜</a> | 
						<a href="#">静岡</a> | 
						<a href="#">愛知</a> | 
						<a href="#">三重</a>
					</p>
				</div>

				<div class="Area_box">
					<p>関西</p>
					<p>
						<a href="#">大阪</a> | 
						<a href="#">京都</a> | 
						<a href="#">奈良</a> | 
						<a href="#">兵庫</a> | 
						<a href="#">滋賀</a> | 
						<a href="#">和歌山</a>
					</p>
				</div>

				<div class="Area_box">
					<p>中国・四国</p>
					<p>
						<a href="#">鳥取</a> | 
						<a href="#">島根</a> | 
						<a href="#">岡山</a> | 
						<a href="#">広島</a> | 
						<a href="#">山口</a> | 
						<a href="#">徳島</a> | 
						<a href="#">神奈川</a> | 
						<a href="#">愛媛</a> | 
						<a href="#">高知</a>
					</p>
				</div>

				<div class="Area_box">
					<p>九州・沖縄</p>
					<p>
						<a href="#">福岡</a> | 
						<a href="#">佐賀</a> | 
						<a href="#">長崎</a> | 
						<a href="#">熊本</a> | 
						<a href="#">大分</a> | 
						<a href="#">宮崎</a> | 
						<a href="#">鹿児島</a> | 
						<a href="#">沖縄</a>
					</p>
				</div>
			</div>
		</section>
	</main>

	<footer>
		<div class="Footer_List">
			<h2>Skill-Ticket(スキルチケット)</h2>
			<div class="Ticket_box">
				<!-- チケットを見つける -->
				<div class="t_div border_solid">
					<p>チケットを見つける</p>
					<div class="Ticket_link">
						<p class="t_dots">・<a href="#">ジャンル</a></p>
						<p class="t_dots">・<a href="#">ジャンル</a></p>
						<p class="t_dots">・<a href="#">ジャンル</a></p>
						<p class="t_dots">・<a href="#">ジャンル</a></p>
						<p class="t_dots">・<a href="#">ジャンル</a></p>
						<p class="t_dots">・<a href="#">ジャンル</a></p>
						<p class="t_dots">・<a href="#">ジャンル</a></p>
						<p class="t_dots">・<a href="#">ジャンル</a></p>
						<p class="t_dots">・<a href="#">ジャンル</a></p>
						<p class="t_dots">・<a href="#">ジャンル</a></p>
						<p class="t_dots">・<a href="#">ジャンル</a></p>
						<p class="t_dots">・<a href="#">ジャンル</a></p>
						<p class="t_dots">・<a href="#">ジャンル</a></p>
						<p class="t_dots">・<a href="#">ジャンル</a></p>
						<p class="t_dots">・<a href="#">ジャンル</a></p>
						<p class="t_dots">・<a href="#">ジャンル</a></p>
						<p class="t_dots">・<a href="#">ジャンル</a></p>
						<p class="t_dots">・<a href="#">ジャンル</a></p>
						<p class="t_dots">・<a href="#">ジャンル</a></p>
					</div>
				</div>
				<div class="t_div border_solid">
					<!-- チケットを出品する -->
					<div class="Ticket_listing">
						<p>チケットを出品する</p>
						<div class="Ticket_link">
							<p class="t_dots">・<a href="#">出品方法</a></p>
							<p class="t_dots">・<a href="#">出品のコツ</a></p>
							<p class="t_dots">・<a href="#">ジャンル</a></p>
							<p class="t_dots">・<a href="#">ジャンル</a></p>
							<p class="t_dots">・<a href="#">ジャンル</a></p>
							<p class="t_dots">・<a href="#">ジャンル</a></p>
							<p class="t_dots">・<a href="#">ジャンル</a></p>
							<p class="t_dots">・<a href="#">ジャンル</a></p>
							<p class="t_dots">・<a href="#">ジャンル</a></p>
							<p class="t_dots">・<a href="#">ジャンル</a></p>
						</div>
					</div>
					<!-- サイト情報 -->
					<div class="Ticket_site">
						<p>サイト情報</p>
						<div class="Ticket_link">
							<p class="t_dots">・<a href="#">ご利用ガイド</a></p>
							<p class="t_dots">・<a href="#">ジャンル</a></p>
							<p class="t_dots">・<a href="#">ジャンル</a></p>
				OB			<p class="t_dots">・<a href="#">ジャンル</a></p>
							<p class="t_dots">・<a href="#">ジャンル</a></p>
						</div>
					</div>
				</div>
				<!-- スキルチケットをもっと知る -->
				<div class="t_div border_dash">
					<p>スキルチケットを<br class="tablet_none">もっと知る</p>	
					<div class="Ticket_link">
						<p class="t_dots">・<a href="#">ご利用ガイド</a></p>
						<p class="t_dots">・<a href="#">ジャンル</a></p>
						<p class="t_dots">・<a href="#">ジャンル</a></p>
						<p class="t_dots">・<a href="#">ジャンル</a></p>
						<p class="t_dots">・<a href="#">ジャンル</a></p>
						<p class="t_dots">・<a href="#">ジャンル</a></p>
						<p class="t_dots">・<a href="#">ジャンル</a></p>
						<p class="t_dots">・<a href="#">ジャンル</a></p>
						<p class="t_dots">・<a href="#">ジャンル</a></p>
						<p class="t_dots">・<a href="#">OBジャンル</a></p>
					</div>
				</div>
				<!-- お問い合わせ -->
				<div class="Ticket_contact">
					<p>サポートへの問い合わせはこちら</p>
					<div class="contact_btn">
						<a href="#">お問い合わせ</a>
					</div>
					<p>スキルチケットへの</br>ご意見・ご要望はこちら</p>

					<form action="" method="get" autocomplete="off">
						<textarea placeholder="サービスへのご意見・ご要望をお聞かせください。
ご意見・ご要望に返信できないことをあらかじめご了承ください。"></textarea>
					</form>

					<div class="sns">
						<p>SNS共有</p>
						<div class="sns_icon">
							<img src="/assets/img/sns_twitter.png">
							<img src="/assets/img/sns_facebook.png">
						</div>
					</div>

				</div>
			</div>				
		</div>

		<div class="copyright">
			<p>@ 2020 Skill-Ticket | Riding Co.</p>
		</div>	
	</footer>

</body>
</html>
